@import '../../App.scss';
@import '../Category/Category.module.scss';

.categories_wrapper {
  margin-bottom: 70px;
}

.cards {
  @include flex-wrap-sp-ar;
}

h2 {
  text-align: center;
  padding: 20px;
}
