// @import '~normalize.css/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$font-base: 'DM Sans', sans-serif;

$primary-color: #104f55;
$secondary-color: #32746d;
$gray-color: #7e7f83;
$dark-green-color: #01200f;
$black-color: #000000;
$white-color: #ffffff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wrap-sp-ar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app {
  background-color: $white-color;
  font-family: $font-base;
  width: 80%;
  margin: auto;
}
